/* version v5.0.5 */
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header {
    padding: 0;
    margin: 0;
    /* header 长宽 */
    width: 100%;
    /* height: 4.6vmin; */
    height: 2.7vmax;
     /* header 位置 */
    position: fixed;
    top: 0;
    left: 0;
    /* header flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* header 外观 */
    background-color: rgba(255, 255, 255, 0.65);
    border-bottom: 0.1vmin solid white;
    box-shadow: 0 0.2vmin 0.55vmin 0.3vmin rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0.2vmin 0.55vmin 0.3vmin rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(0.35rem);
    -webkit-backdrop-filter: blur(0.35rem);
    /* header 顺序 */
    z-index: 999;
}
.LOGO {
    margin-left: 1.2vmin;
    /* LOGO 文字 */
    font-size: 2.5vmin;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    /* LOGO 外观 */
    color: rgba(35, 35, 35, 0.9);
}
.headerButton {
    /* headerButton flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.headerButton a {
    padding: 0.5vmin 1.2vmin;
    margin-right: 1.2vmin;
    /* a under headerbutton flex under */
    flex-grow: 1;
    flex-shrink: 1;
    /* a under headerbutton 文字 */
    font-size: 1.2vmin;
    font-weight: 600;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    /* a under headerbutton 外观 */
    /* background-color: #ef857d; */
    border: 0.12vmin solid rgba(0, 0, 0, 0.6);
    border-radius: 2vmin;
    /* a under headerbutton 动画 */
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}
.headerButton a:hover {
    background-color: #fb6b5a;
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(0, 0, 0, 0.35);
}
.indexVersion {
    padding: 0;
    margin: 0;
    /* indexVersion 长宽 */
    width: 100%;
    height: 4.6vmin;
    /* indexVersion 位置 */
    top: 0;
    left: 0;
    /* indexVersion 外观 */
    visibility: hidden;
}
h1 {
    padding: 0;
    margin: 10vmin auto;
    /* h1 文字 */
    font-size: 3.9vmin;
    text-align: center;
}
.mainContainer {
    padding: 3.5vmin 0;
    margin: 0 auto 3.5vmin;
    /* mainContaine 长宽 */
    width: 50vw;
    /* max-width: 50vw; */
    min-width: 80vmin;
    /* mainContaine grid */
    display: grid;
    grid: 
        'emptySpace1 QRcode emptyMiddle mainName emptySpace2' auto 
        'emptySpace1 QRcode emptyMiddle mainNumber emptySpace2' auto 
        'emptySpace1 QRcode emptyMiddle rowLine emptySpace2' auto
        'emptySpace1 QRcode emptyMiddle mainDescription emptySpace2' 1fr 
        /1fr 12vmin 2.2vmin 50% 1fr;
    /* grid-column-gap: 2.5em; */
    justify-items: center;
    justify-content: space-evenly;
    /* mainContaine 外观 */
    background-color: white;
    border-radius: 3.7vmin;
    box-shadow: 0 0 0.55vmin lightgray;
    -webkit-box-shadow: 0 0 0.55vmin lightgray;
    /* mainContainer 动画 */
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
.mainContainer:hover {
    box-shadow: 0 0 0.65vmin 0.15vmin lightgray;
    -webkit-box-shadow: 0 0 0.65vmin 0.15vmin lightgray;
    transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
}
.mainContainer:hover img {
    box-shadow: 0 0 0.55vmin 0.25vmin lightgray;
    -webkit-box-shadow: 0 0 0.55vmin 0.25vmin lightgray;
}
.mainContainer:hover .rowLineClass {
    padding: 0 50%;
    margin-top: 0.25vmin;
    height: 0.22vmin;
    background-color: #b95651;
}
.mainContainer > img {
    margin: 0;
    /* img 长宽 */
    width: 12vmin;
    height: 12vmin;
    /* img grid */
    grid-area: QRcode;
    align-self: center;
    -webkit-align-self: center;
    /* img 动画 */
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.mainContainer > h2 {
    padding: 0;
    margin: 0;
    /* h2 under mainContainer grid under */
    grid-area: mainName;
    align-self: start;
    -webkit-align-self: start;
    justify-self: start;
    -webkit-justify-self: start;
    /* h2 under mainContainer 文字 */
    font-size: 2.5vmin;
    font-weight: 600;
    text-align: center;
}
.mainContainer > div:nth-of-type(1) {
    margin: 0;
    /* div:nth-of-type(1) grid */
    grid-area: mainNumber;
    align-self: start;
    -webkit-align-self: start;
    justify-self: start;
    -webkit-justify-self: start;
    /* div:nth-of-type(1) 文字 */
    font-size: 1.3vmin;
    /* div:nth-of-type(1) 外观 */
    color: dimgray;
}
.mainContainer > div:nth-of-type(2) {
    padding: 0;
    margin: 0;
    /* rowLineClass 长宽 */
    height: 0;
    /* rowLineClass grid */
    grid-area: rowLine;
    align-self: start;
    -webkit-align-self: start;
    justify-self: start;
    -webkit-justify-self: start;
    /* rowLineClass 外观 */
    border-radius: 0.3vmin;
    /* rowLineClass 动画 */
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
}
.mainContainer > div:nth-of-type(3) {
    padding: 0;
    margin: 0;
    /* div:nth-of-type(3) grid */
    grid-area: mainDescription;
    align-self: center;
    -webkit-align-self: center;
    justify-self: start;
    -webkit-justify-self: start;
    /* div:nth-of-type(3) 文字 */
    font-size: 1.5vmin;
}
#cafe {
    background-color: #ffeef0;
}
.mainContainer > * {
    /* background-color: azure;
    border: 1px solid black; */
}
footer {
    padding: 0;
    margin-bottom: 3.5vmin;
    font-size: 1.1vmin;
    color: gray;
    text-align: center;
}
